{
"snapshot_agent": {
    "http_addr": "{% if consul_tls_enable | bool %}https://{% endif %}{{ consul_client_address }}:{% if consul_tls_enable | bool %}{{ consul_ports.https }}{% else %}{{ consul_ports.http }}{% endif %}",
    {% if consul_tls_enable | bool -%}
    "ca_file": "{{ consul_tls_dir }}/{{ consul_tls_ca_crt }}",
    "cert_file": "{{ consul_tls_dir }}/{{ consul_tls_server_crt }}",
    "key_file": "{{ consul_tls_dir }}/{{ consul_server_key }}",
    {% endif %}
    {% if consul_acl_snapshot_enable | bool -%}
    "token": "1234567890",
    {% endif %}
        "log": {
            "level": "INFO",
            "enable_syslog": true,
            "syslog_facility": "LOCAL0"
        },
        "snapshot": {
            "interval": "{{ consul_snapshot_interval }}",
            "retain": {{ consul_snapshot_retain }},
            "stale": false,
            "service": "consul_snapshot",
            "deregister_after": "72h",
            "lock_key": "consul_snapshot/lock",
            "max_failures": 3
        },
        {% if consul_snapshot_storage_type == "local" %}
        "local_storage": {
            "path": "{{ consul_snapshot_storage }}"
        }
        {% endif %}
        {% if consul_snapshot_storage_type == "aws" %}
        "aws_storage": {
        "access_key_id": "{{ consul_aws_access_key_id }}",
        "secret_access_key": "{{ consul_aws_secret_access_key }}",
        "s3_region": "{{ consul_aws_s3_region }}",
        "s3_bucket": "{{ consul_aws_s3_bucket_name }}",
        "s3_key_prefix": "consul-snapshot",
        "s3_server_side_encryption": "{{ consul_aws_s3_encryption }}",
        "s3_static_snapshot_name":"{{ consul_aws_static_snapshot_name }}"
        }
        {% endif %}
        {% if consul_snapshot_storage_type == "azure" %}
        "azure_blob_storage": {
        "account_name": "{{ consul_azure_account_name }}",
        "account_key": "{{ consul_azure_account_key }}",
        "container_name": "{{ consul_azure_container_name }}"
        }
        {% endif %}
    }
}
